name: Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - name: Checkout sources
    - uses: actions/checkout@v4

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: gradle

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Build Android App
      run: ./gradlew assemble